body, div, h1, p, pre {
  margin : 0;
  border : 0;
  padding: 0;
  display: block;
}

body, input, select, button {
  font: 10pt 'Courier New';
}

a {
  color: blue;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
